html, body {
  height: 100%;
  background-color: #1d1f21;
  color: #c5c8c6;
}

.container { min-height: 100%; }

.type { color: #b294bb; }
.var { color: #cc6666; }
.string { color: #b5bd68; }
.export { color: #81a2be; }
a.string { color: #f0c674; }

.promise { margin-top: 6vh; }
.copyright {margin-top: 3vh; }

@media (max-width: 400px) {
  .promise, .type { display: none;}
}
