---
export interface Props {
  href: string;
  target?: string;
}

const { href, target = "_blank" } = Astro.props;
---

<a
  href={href}
  target={target}
  rel={target === "_blank" ? "noreferrer" : undefined}
  tabindex="0"
  class="block w-full p-2 hover:bg-crt-text hover:text-crt-screen active:bg-crt-text active:text-crt-screen focus:bg-crt-text focus:text-crt-screen transition-all duration-150 ease-in-out dark:hover:bg-crt-screen dark:hover:text-crt-text dark:active:bg-crt-screen dark:active:text-crt-text dark:focus:bg-crt-screen dark:focus:text-crt-text"
  ><slot />
</a>

<style>
  a::selection {
    @apply text-crt-screen-light bg-crt-text-dark;
  }
</style>
